@font-face {
  font-family: 'Gagalin';
  src: url('Gagalin-Regular.otf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gagalin', sans-serif;
  background: radial-gradient(circle, #b30000 0%, #660000 100%);
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.logo-top {
  width: 120px;
  margin-top: 20px;
}

.logo-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  opacity: 0.1;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.menu-container {
  position: relative;
  z-index: 1;
  max-width: 380px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  margin: 20px 0 10px;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.menu-section {
  text-align: left;
  margin-top: 10px;
}

.item {
  margin-bottom: 15px;
}

.name {
  display: inline-block;
  width: 70%;
}

.price {
  float: right;
  font-weight: bold;
}

.item p {
  font-size: 0.9em;
  color: #fff;
  margin: 5px 0 0 0;
  line-height: 1.2em;
}

.page-number {
  margin-top: 20px;
  font-size: 0.9em;
}
